body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app {
  background-color: rgb(237, 240, 244);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
}
/* Navbar */
.nav-container {
  width: 100%;
  max-width: 1400px;
}
.first-navbar{
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: rgb(28, 28, 28);
}
.second-navbar {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: rgb(200, 200, 200);
}
.nav-title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}
.nav-title h2{
  margin: 0;
}
.nav-container a {
  text-decoration: none;
  color: rgb(28, 28, 28);
}
/* pages */
.page {
  width: 100%;
  max-width: 1400px;
}
.home-container {
  width: 100%;
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* new post */
.new-post{
  width: 90%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border-radius: 5px;
}
.new-post form{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.new-post label{
  width: 100%;
}
.new-post-title{
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 19px;
}
.new-post-text{
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 18px;
  resize: none;
}
.new-post-button {
  width: 300px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgb(245, 160, 15);
  color: rgb(255, 255, 255);
}

/* posts list */
.posts-list {
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
}
.post-card {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(205, 205, 205);
  border-radius: 5px;
  padding: 15px 15px 40px 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  position: relative;
}
.post-container {
  width: 100%;
  height: 100%;
}
.post-text {
  margin: 0;
}
.post-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  margin: 12px 12px 0 0;
}
.post-btns button {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  text-align: center;
}
.post-btns button a {
  padding: 0;
  margin: 0;
}
.post-edit-btn {
  width: 35px;
  color: rgb(0, 0, 0);
  background-color: rgb(245, 160, 15);
  font-size: 15px;
}
.post-edit-btn:hover {
  color: rgb(220, 220, 220);
  background-color: rgb(0, 120, 10);
}
.post-delete-btn {
  width: 25px;
  color: rgb(190, 0, 0);
  background-color: rgb(220, 220, 220);
  font-size: 25px;
  padding-bottom: 6px;
  margin-left: 7px;
}
.post-delete-btn:hover {
  color: rgb(220, 220, 220);
  background-color: rgb(170, 0, 0);
}

/* edit post */
.edit-post-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.edit-post-title{
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 19px;
}
.edit-post-text{
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 18px;
  resize: none;
}
.edit-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-btns button {
  width: 200px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.edit-post-button {
  background-color: rgb(245, 160, 15);
  color: rgb(255, 255, 255);
  margin-right: 5px;
}
.edit-post-button:hover {
  color: rgb(220, 220, 220);
  background-color: rgb(0, 120, 10);
}
.edit-cancel-button {
  background-color: rgb(154, 154, 154);
  color: rgb(255, 255, 255);
  margin-left: 5px;
}
.edit-cancel-button:hover {
  color: rgb(220, 220, 220);
  background-color: rgb(170, 0, 0);
}
/* footer */
.footer {
  background-color: rgb(28, 28, 28);
  height: 40px;
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.footer h3{
  color: rgb(255, 255, 255);
}